# Linear Regression and Data Visualization with Seaborn

In [110]:
import pandas as pd

In [111]:
df = pd.read_csv('data/cost_revenue_dirty.csv')

## Data Exploration and Cleaning

In [112]:
print(f'The data have {df.shape[0]} rows and {df.shape[1]} columns')
print(f'The data have {df.isna().sum().sum()} NaN values')
print(f'The data have {df.duplicated().sum()} duplicated rows')
print(f'Type of columns:\n{df.dtypes}')

The data have 5391 rows and 6 columns
The data have 0 NaN values
The data have 0 duplicated rows
Type of columns:
Rank                      int64
Release_Date             object
Movie_Title              object
USD_Production_Budget    object
USD_Worldwide_Gross      object
USD_Domestic_Gross       object
dtype: object

In [113]:
# Removing $ and , from the columns
df['USD_Production_Budget'] = df['USD_Production_Budget'].str.replace('$', '').str.replace(',', '')
df['USD_Worldwide_Gross'] = df['USD_Worldwide_Gross'].str.replace('$', '').str.replace(',', '')
df['USD_Domestic_Gross'] = df['USD_Domestic_Gross'].str.replace('$', '').str.replace(',', '')

In [114]:
df.Release_Date = pd.to_datetime(df.Release_Date)

## Investigate the Films that had Zero Revenue

In [115]:
df['USD_Production_Budget'] = pd.to_numeric(df['USD_Production_Budget'])
df['USD_Worldwide_Gross'] = pd.to_numeric(df['USD_Worldwide_Gross'])
df['USD_Domestic_Gross'] = pd.to_numeric(df['USD_Domestic_Gross'])

In [116]:
# the average production budget of the films in the data set
avg_production_budget = df['USD_Production_Budget'].mean()
avg_production_budget

31113737.57837136

In [117]:
# the average worldwide gross revenue of films
avg_worldwide_gross = df['USD_Worldwide_Gross'].mean()
avg_worldwide_gross

88855421.96271564

In [118]:
min_domestic_gross = df['USD_Domestic_Gross'].min()
min_worldwide_gross = df['USD_Worldwide_Gross'].min()
print(min_domestic_gross)
print(min_worldwide_gross)

0
0

In [119]:
# Are the bottom 25% of films actually profitable or do they lose money?
bottom_25_percent = df['USD_Worldwide_Gross'].quantile(0.25)
bottom_25_percent

3865206.0

In [120]:
# the highest production budget and highest worldwide gross revenue of any film
max_production_budget = df['USD_Production_Budget'].max()
max_worldwide_gross = df['USD_Worldwide_Gross'].max()
print(max_production_budget)
print(max_worldwide_gross)

425000000
2783918982

In [121]:
# How much revenue did the lowest budget films make?
min_production_budget = df['USD_Production_Budget'].min()
min_budget_films = df[df['USD_Production_Budget'] == min_production_budget]
min_budget_revenue = min_budget_films['USD_Worldwide_Gross']
min_budget_revenue

2427    181041
Name: USD_Worldwide_Gross, dtype: int64

In [125]:
# How much revenue did the highest budget films make?
max_budget_films = df[df['USD_Production_Budget'] == max_production_budget]
max_budget_revenue = max_budget_films['USD_Worldwide_Gross']
max_budget_revenue

3529    2783918982
Name: USD_Worldwide_Gross, dtype: int64

In [126]:
# How many films grossed $0 domestically?
zero_domestic_gross = df[df['USD_Domestic_Gross'] == 0]
zero_domestic_gross.sort_values('USD_Production_Budget', ascending=False)

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
5388,96,2020-12-31,Singularity,175000000,0,0
5387,126,2018-12-18,Aquaman,160000000,0,0
5384,321,2018-09-03,A Wrinkle in Time,103000000,0,0
5385,366,2018-10-08,Amusement Park,100000000,0,0
5090,556,2015-12-31,"Don Gato, el inicio de la pandilla",80000000,4547660,0
...,...,...,...,...,...,...
4787,5371,2014-12-31,Stories of Our Lives,15000,0,0
3056,5374,2007-12-31,Tin Can Man,12000,0,0
4907,5381,2015-05-19,Family Motocross,10000,0,0
5006,5389,2015-09-29,Signed Sealed Delivered,5000,0,0
5007,5390,2015-09-29,A Plague So Pleasant,1400,0,0

In [124]:
# How many films grossed $0 worldwide? What are the highest budget films that had no revenue internationally (i.e., the biggest flops)?
zero_worldwide_gross = df[df['USD_Worldwide_Gross'] == 0]
zero_worldwide_gross.sort_values('USD_Production_Budget', ascending=False)

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
5388,96,2020-12-31,Singularity,175000000,0,0
5387,126,2018-12-18,Aquaman,160000000,0,0
5384,321,2018-09-03,A Wrinkle in Time,103000000,0,0
5385,366,2018-10-08,Amusement Park,100000000,0,0
5058,880,2015-11-12,The Ridiculous 6,60000000,0,0
...,...,...,...,...,...,...
4787,5371,2014-12-31,Stories of Our Lives,15000,0,0
3056,5374,2007-12-31,Tin Can Man,12000,0,0
4907,5381,2015-05-19,Family Motocross,10000,0,0
5006,5389,2015-09-29,Signed Sealed Delivered,5000,0,0
5007,5390,2015-09-29,A Plague So Pleasant,1400,0,0

In [129]:
# which films made money internationally but had zero box office revenue in the United States?
international_releases = df.loc[(df['USD_Domestic_Gross'] == 0) & (df['USD_Worldwide_Gross'] != 0)]
# OR
international_releases = df.query('USD_Domestic_Gross == 0 and USD_Worldwide_Gross != 0')
international_releases

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
71,4310,1956-02-16,Carousel,3380000,3220,0
1579,5087,2001-02-11,Everything Put Together,500000,7890,0
1744,3695,2001-12-31,The Hole,7500000,10834406,0
2155,4236,2003-12-31,Nothing,4000000,63180,0
2203,2513,2004-03-31,The Touch,20000000,5918742,0
...,...,...,...,...,...,...
5340,1506,2017-04-14,Queen of the Desert,36000000,1480089,0
5348,2225,2017-05-05,Chāi dàn zhuānjiā,23000000,58807172,0
5360,4832,2017-07-03,Departure,1100000,27561,0
5372,1856,2017-08-25,Ballerina,30000000,48048527,0
5374,4237,2017-08-25,Polina danser sa vie,4000000,36630,0

In [139]:
# Removing the unreleased films
unreleased_films = df.query(
    'USD_Domestic_Gross == 0 and USD_Worldwide_Gross == 0 and Release_Date > "2018-05-01"'
)
len(unreleased_films)

7

In [141]:
data_clean = df.drop(unreleased_films.index)
data_clean

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
0,5293,1915-08-02,The Birth of a Nation,110000,11000000,10000000
1,5140,1916-05-09,Intolerance,385907,0,0
2,5230,1916-12-24,"20,000 Leagues Under the Sea",200000,8000000,8000000
3,5299,1920-09-17,Over the Hill to the Poorhouse,100000,3000000,3000000
4,5222,1925-01-01,The Big Parade,245000,22000000,11000000
...,...,...,...,...,...,...
5379,1295,2017-10-02,John Wick: Chapter Two,40000000,166893990,92029184
5380,70,2017-10-03,Kong: Skull Island,185000000,561137727,168052812
5381,94,2017-12-05,King Arthur: Legend of the Sword,175000000,140012608,39175066
5382,1254,2017-12-05,Snatched,42000000,57850343,45850343
5383,2521,2017-12-31,The Thousand Miles,20000000,0,0

In [148]:
# Films that Lost Money
lost_money = data_clean.loc[data_clean['USD_Production_Budget'] > data_clean['USD_Worldwide_Gross']]
len(lost_money) / len(data_clean) * 100

37.27711738484398